RewriteEngine On 

# Redirect to https
RewriteCond %{HTTPS}  !=on 
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Remove php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Set authentication
#Protect single file
<Files questionUpload.php>
AuthName "Secret Files"
AuthType Basic
AuthUserFile /var/www/private/.htpasswd
Require valid-user

#php_value upload_max_filesize 10M
#php_value post_max_size 10M
#php_value max_input_time 500
#php_value max_execution_time 500
</Files>

<Files contact.php>
AuthName "Secret Files"
AuthType Basic
AuthUserFile /var/www/private/.htpasswd
Require valid-user
</Files>

ErrorDocument 401 /401.php
ErrorDocument 403 /403.php
ErrorDocument 404 /404.php
